#password-container {
    @extend .container;

    div {
        display: grid;
        grid-template-columns: repeat(3, 1fr); /* 3 equal-width columns */
        grid-template-rows: repeat(5, 1fr);    /* 5 equal-height rows */
        column-gap: $grid-gutter-width/2;   

        dl {
            display: flex;
            align-items: center;
            flex-direction: column;
        }
        
        dt {
            font-weight: bold;
        }

        dd {
            font-size: 2rem;
            color: #fff;
        }
    }
}