#password-container {
    @extend .container;

    #full-password {
        padding-bottom: $grid-gutter-width;
    }

    #password-chars {
        display: grid;
        grid-template-columns: repeat(5, 1fr); /* 5 equal-width columns */
        grid-template-rows: repeat(3, 1fr);    /* 3 equal-height rows */
        column-gap: $grid-gutter-width/2;   
    }

    dl {
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    
    dt {
        font-weight: bold;
    }

    dd {
        font-size: 1.5rem;
        color: #fff;
    }

    input[type="text"] {
        display: none;
    }

    #copy-to-clipboard-button {
        width: 100px;
    }
}