#password-actions {
    margin: $grid-gutter-width 0;
    text-align: center;

    button {
        margin: 5px;
        @extend .btn;
    }

    #back-button, #reset-button {
        font-size: 0.7rem;
    }

    #back-button {
        @extend .btn-info;
    }

    #copy-to-clipboard-button {
        @extend .btn-light;
    }

    #reset-button {
        @extend .btn-danger;
    }
}