$optionsHeight: 50%; 
$optionLabelHeight: 30px;
$blurAmount: 5px;
$transitionTime: 0.25s;
$fabIconSize: 50px;


body {
    header, #blurb, footer, #password-form section {
        filter: blur(0);
        transition: all $transitionTime ease-in-out;
      }

    &.options-toggled header, &.options-toggled #blurb, &.options-toggled>footer, &.options-toggled #password-form section {
      filter: blur($blurAmount);
    }
  
    &.options-toggled #password-options {
      filter: blur(0px) !important;
    }
}

#password-options {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#options-container {
    transition: all $transitionTime ease-in-out;
    transform-origin: bottom right;
    width: calc(100% - $grid-gutter-width);
    
    position: fixed;
    bottom: calc($fabIconSize + ($grid-gutter-width * 2));
    right: $grid-gutter-width;
    text-align: right;
    transform: scale(0);

    &.toggled {
        transform: scale(1);
    }

    .option {
        @include make-row();

        label, span {
            @include make-col-ready();
        }

        label {
            @include make-col(10);
        }

        span {
            @include make-col(2);
            text-align: center;
        }
    }

    h3 {
        padding-top: $grid-gutter-width;
    }

    .pin {
        input[type="number"] {
            text-align: center;
        }
    }
}

#options-toggle-container {
    position: fixed;
    bottom: $grid-gutter-width;
    right:  $grid-gutter-width;
    z-index: 999;
    cursor: pointer;

    #options-toggle {
        width: $fabIconSize;
        height: $fabIconSize;
        @extend .btn;
        @include button-variant(darken($redbolt, 5%), darken($redbolt, 20%));
        border-radius: 100%;
        box-shadow: 0 6px 20px rgba(0, 0, 0, 0.2);

        i {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100%;
            font-size: calc($fabIconSize/2);
        }
    }
}

#options-container {
    @extend .container;
}