@import "bootstrap/functions";

$enable-grid-classes: false;

@import "bootstrap/variables";
@import "bootstrap/_maps";
@import "bootstrap/mixins";
@import "bootstrap/root";
@import "bootstrap/grid";

@import "bootstrap/reboot";
@import "bootstrap/containers";
@import "bootstrap/grid";
@import "bootstrap/forms";
@import "bootstrap/_buttons";

$redbolt: #db0000;

@import "blurb";
@import "password-entry";
@import "the-magic";

body {
  font-family: "Courier Prime", monospace;
  font-weight: 400;
  font-style: normal;
}

header, main, footer {
    @extend .container;
}